$ffi: 'Inter', sans-serif;
$ffu: 'Urbanist', sans-serif;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;
$fs48: 48px;
$white: white;
$orange: #C99E71;
$brown: #1C1814;
$white_1: rgba(255, 255, 255, 0.8);
$dark: #121315;