p{
    color: #b0e000;
    font-family: 'Rampart One', cursive;
}
.dop{
    color: #ca0d00;
    font-family: 'Marck Script', cursive;
    
}
.add{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}