$fr: 'Roboto', sans-serif; 
$fs: 'Fira Sans', sans-serif;
$fes: 300;
$fl: 400;
$fm: 500;
$fh: 600;
$fs12: 12px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs28: 28px;
$fs32: 32px;
$fs14: 14px;
$fs40: 40px;
$fs42: 42px;
$fs26: 26px;
$fs52: 52px;
//color
$white: white;
$red: #FC0D1B;
$black: rgb(0, 0, 0);
$gray: #F3F3F3;
$dark_gray: #686868;
$white1: #ECECEC;
////

$ld:   1170px;
$md: 960px;
$sm: 740px;
$xs: 340px;


